body {
    font-family: "arial"; /* just for me :D */
}

img {
    width: 100%;
}

nav {
    border-bottom: .2rem solid;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

hr.solid {
    border-top: 2px solid black;
}

table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid black;
    padding: 5px;
}

footer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    font-style: italic;
}

.text-main-container {
    display: block;
}



